.app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.array-bar {
    background-color: darkslategray;
    margin: 0.15%;
}

.array-container {
    align-items: center;
    display: flex;
    margin-top: auto;
}

.app-footer {
    display: flex;
    align-items: center;
    background-color: #333;
    margin-top: auto;
}

.app-header {
    overflow-x: visible;
    background-color: #333;
    align-items: center;
    margin-bottom: auto;
    display: flex;
    flex-direction: row;
}

#credits {
    font-size: x-small;
    text-align: center;
    margin-top: auto;
}